<?xml version="1.0" ?>
<robot name="simple_box">
  <link name="box_link">
    
    <visual>
      
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
      
        <box size="5 1 1"/>
      </geometry>
      
      <material name="blue">
        <color rgba="0 0 1 1"/>
      </material>
    </visual>

    
    <collision>
      
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        
        <box size="5 1 1"/>
      </geometry>
      
    </collision>

    
    <inertial>
        
        <origin xyz="0 0 0" rpy="0 0 0" />
        
        <mass value="1" />
        
        <inertia ixx="0.000034533333" 
            ixy="0"  ixz="0"
            iyx="0"  iyy="0.000034533333" 
            iyz="0"
            izx="0"  izy="0"  izz="0.0000648" />
    </inertial>
  </link>
</robot>